extends ../shared/templates/template1/index.pug

block nav
  include ../shared/partials/header/nav.pug

block append scripts
  script.
    var content = "#{data.content}";
  script.
    $(document).ready(function() {
      //- Common().htmlDecode(
      $("#post-content").html(Common().htmlDecode(content));
    });

block content
  div(class="container")
    div(class="row")
      div(class="col-8")
        h1(class="mt-4")=data.title
        div(class="lead") by Name
        a(href=`/post/update/${data.id}` class="a-unstyle")
          i(class="fa fa-pencil float-right") 
        hr
        p() Posted on January 1, 2017 at 12:00 PM
        hr
        img(class="img-fluid rounded" src="http://placehold.it/900x300" alt="")
        hr
        div(id="post-content")
        hr
    
