div(class="container")
  div(class="dropdown")
    select(id="category" class="selectpicker")
      option(value="0") Chọn thể loại
      each c in categories
        option(value=`${c.id}`)=c.name

  div(class="space-10")
  input(id="title" class="textInput col-12" placeholder="Tiêu Đề")
  div(class="space-10")
  textarea(id="editor")
  div(class="space-10")
  button(id="save") Save
  //- Difference bettween create and update
  input(id="post" class="hide" value="")
  

script.
  var token = "#{token}";
  $( document ).ready(function() {
    $('#editor').froalaEditor(
      {
        imageUploadURL: '/api/v1/file/upload',
        videoUploadURL: '',
        requestHeaders: {
          Authorization: "Basic " + token
        }
      },
    );
    //- Update page only
    if (Common().getUrlId() !== "create") {
      Api().get(`/api/v1/item/detail/${Common().getUrlId()}`, {}, function(event) {
        $("#title").val(event.data.title);
        $('#editor').froalaEditor('html.set', event.data.content, true);
        $('#post').val(event.data.id);
      })
    }
    
    var update = function(id, callback) {
      $("#save").text("Saving");
      var link = null;
      if ($('img')[0]) {
        link = $('img')[0].currentSrc
      }
      Api().post(`/api/v1/item/update/${id}`, {
          content: $('#editor').froalaEditor('html.get', true),
          title: $('#title').val(),
          thumbnail: link,
          categoryId: $('#category').val()
        }, function(event) {
          callback(event);
      });
    }
    
    var create = function(data, callback) {
      $("#save").text("Saving");
      if (data.content != "") {
        Api().post('/api/v1/item/create', data, function(event) {
          callback(event);
        });
      }
    }
    
    var saveFunc = function (e, editor, keypressEvent) {
      var id = $('#post').val();
      if (id) {
        update(id, function(event) {
          $("#save").text("Save")
        })
      } else {
        var link = null;
        if ($('img')[0]) {
          link = $('img')[0].currentSrc
        }
        create({
          content: $('#editor').froalaEditor('html.get', true),
          title: $('#title').val(),
          thumbnail: link
        }, function(event) {
          $("#save").text("Save");
          $('#post').val(event.data.id);
        });
      }
    };
    setInterval(function(){ 
      saveFunc();
    }, 2500);
    $('#save').click(saveFunc);
  });
