body {
    padding-top: 54px;
}

p {
  font-size: 14px;
}

.a-unstyle, .a-unstyle:hover, .a-unstyle:focus {
    color: inherit;
    text-decoration: inherit;
}

.ul-unstyle ul li {
 padding: 0;
 margin: 0;
 list-style: none;
}

.space-10 {
  margin: 10px;
}

.border-lightest {
    border-top: 1px solid rgba(0,0,0,.05);
}

.hide {
  display: none;
}

.post-title {
  font-size: 20px;
  font-weight: bold;
}

.textInput {
    border: 1px solid rgba(0,0,0,.15);
    padding: 0 5px;
    height: 35px;
    font-size: 14px;
    outline: 0;
    background: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
    border-radius: 4px;
    letter-spacing: 0;
    font-style: normal;
}

.portfolio-item {
  padding: 15px;
}

.thumnail-container {
  display: inline-block;
  overflow: hidden;
  padding: 0px;
  height: 200px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}
