extends ../shared/templates/template1/index.pug

block nav
  include ../shared/partials/header/nav.pug

block content
  div(id="login-modal")
    input(id="lm-username" type="text" name="user" placeholder="Username" value="test")
    input(id="lm-password" type="password" name="pass" placeholder="Password" value="123")
    input(id="lm-btn" type="submit" name="login" class="login loginmodal-submit" value="Login")

  script.
    $('#lm-btn').click(function(event) {
      Api().post('/api/v1/user/login', {username: $("#lm-username").val(), password: $("#lm-password").val()}, function(event) {
        if (event.status == "success") {
          User().saveCookie(event.data);
          window.location = "/";
        }
      })
    });

  
