extends ../shared/templates/template1/index.pug

block nav
  nav(class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top")
    div(class="container")
      a(id="create-post" class="navbar-brand" href="javascript:;") + Tạo Bài
      a(class="navbar-brand mx-auto" href="javascript:;") Pages
      include ../shared/partials/header/user.pug

block content
  div(class="container")
    header(class="jumbotron my-4")
      h1(class="display-3") Name
      p(class="lead") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi
  
  div(class="container")
    span(class="space-10")
    h1(class="post-title") Bài Viết
    div(class="row")
      each val in data
        div(class="col-4 portfolio-item")
          div(class="card h-100")
            a(class="a-unstyle" href="#")
              img(class="card-img-top" src="http://placehold.it/700x400" alt="")
              div(class="card-body")
                h5(class="card-title")
                  h3(class="post-title")=val.title
                  p(class="card-text")=val.description
    span(class="space-10")

  
