nav(class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top")
  div(class="container")
    a(id="create-post" class="navbar-brand" href="javascript:;") + Tạo Bài
    a(class="navbar-brand mx-auto" href="/") Pages
    include user.pug
    
script.
  $(document).ready(function() {
    $("#create-post, #login").click(function(e) {
      e.preventDefault();
      if (User().isLogin()) {
        window.location = "/post/create";
      } else {
        $('#login-modal').modal('show');
      }
    });
  });
