extends ../shared/templates/template1/index.pug

block content
  div(class="container")
    span(class="space-10")
    h1(class="post-title") Có thể bạn thích
    div(class="row")
      each val in [1, 2, 3, 4, 5, 6]
        div(class="col-lg-4 col-md-4 col-sm-4 portfolio-item")
          div(class="card h-100")
            a(class="a-unstyle" href="#")
              img(class="card-img-top" src="http://placehold.it/700x400" alt="")
              div(class="card-body")
                h5(class="card-title")
                  h3(class="post-title") Project One
                  p(class="card-text") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!
    span(class="space-10")              
    h1(class="post-title") Công Nghệ
    div(class="row")
      each val in [1, 2, 3, 4, 5, 6]
        div(class="col-lg-4 col-md-4 col-sm-4 portfolio-item")
          div(class="card h-100")
            a(class="a-unstyle" href="#")
              img(class="card-img-top" src="http://placehold.it/700x400" alt="")
              div(class="card-body")
                h5(class="card-title")
                  h3(class="post-title") Project One
                  p(class="card-text") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!
    span(class="space-10")       
