<!DOCTYPE html>
html(lang='en')
  head
    title=title
    block style
      link(href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet")
    style
      include ../../../../public/css/style.css
  //- Body
  body
    block nav
      h1() Navigation
    //- Content
    block content
      h1() Fill your content
    
  //- Footer
  div(class="border-lightest container ul-unstyle")
    ul
      li About

  block footer  
    block scripts
      script.
        //- var data = !{JSON.stringify(data)};
      script(src='https://code.jquery.com/jquery-3.1.1.min.js', crossorigin="anonymous")
      script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js', crossorigin="anonymous")
      script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js', crossorigin="anonymous")
      script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js', crossorigin="anonymous")
      script
        include ../../../../public/js/common.js
        include ../../../../public/js/ajax/api.js
        include ../../../../public/js/user/user.js
        
    block modal
      include ../../modals/user/login.html

  
