<!-- <div draggable="false" style="float: left" class="">
  <img  style="float: left" id="myImage" class="image-inline" src="http://placehold.it/700x400" alt="" style="left: 200px; top: 100px; position: relative" draggable="false">
</div> -->
<img id="myImage" class="image-inline" src="http://placehold.it/700x400" alt="" style="left: 200px; top: 100px; position: absolute" draggable="false">


<div class="select-box">
  <div id="box-border" class="select-box-border" style="position: absolute;
      border: 1px solid #0096fd;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      z-index: 30;
      background-color: rgba(0,0,0,0);"></div>

  <div id="nw-handle" class="select-box-handle" style="cursor: nw-resize; position: absolute;
      border: 1px solid #fff;
      background-color: #0096fd;
      width: 10px;
      height: 10px;
      font-size: 0;
      z-index: 551;"></div>

  <div id="ne-handle" class="select-box-handle" style="cursor: ne-resize; position: absolute;
      border: 1px solid #fff;
      background-color: #0096fd;
      width: 10px;
      height: 10px;
      font-size: 0;
      z-index: 551;"></div>

  <div id="se-handle" class="select-box-handle" style="cursor: se-resize; position: absolute;
      border: 1px solid #fff;
      background-color: #0096fd;
      width: 10px;
      height: 10px;
      font-size: 0;
      z-index: 551;"></div>

  <div id="sw-handle" class="select-box-handle" style="cursor: sw-resize; position: absolute;
      border: 1px solid #fff;
      background-color: #0096fd;
      width: 10px;
      height: 10px;
      font-size: 0;
      z-index: 551;"></div>

  <div id="n-handle" class="select-box-handle" style="cursor: n-resize; position: absolute;
      border: 1px solid #fff;
      background-color: #0096fd;
      width: 10px;
      height: 10px;
      font-size: 0;
      z-index: 551;"></div>

  <div id="e-handle" class="select-box-handle" style="cursor: e-resize; position: absolute;
      border: 1px solid #fff;
      background-color: #0096fd;
      width: 10px;
      height: 10px;
      font-size: 0;
      z-index: 551;"></div>

  <div id="s-handle" class="select-box-handle" style="cursor: s-resize; position: absolute;
      border: 1px solid #fff;
      background-color: #0096fd;
      width: 10px;
      height: 10px;
      font-size: 0;
      z-index: 551;"></div>

  <div id="w-handle" class="select-box-handle" style="cursor: w-resize; position: absolute;
      border: 1px solid #fff;
      background-color: #0096fd;
      width: 10px;
      height: 10px;
      font-size: 0;
      z-index: 551;"></div>
</div>
<style media="screen">
  .select-box {
    display: none;
  }
  body {
      -webkit-user-select: none;
  }

</style>
